@model SummaryViewModel

<section id="vacancies">
    <div class="own-container">
        <div class="container">
            <h2 class="mb-5">@Model.jobVacancy.Salary AZN</h2>
            <a href="/Vacancies/vacancy">
                <i class="bi bi-arrow-left"></i>Vacancies
            </a>
        </div>
    </div>
</section>

<section id="summary">
    <div class="container mt-5">
        <h2>Company : @Model.jobVacancy.CompanyName</h2>
        <h2 class="mb-3">Summary</h2>
        @Html.Raw(Model.jobVacancy.Summary)
        <h2 class="mt-5 mb-3">Responsibilities:</h2>
        <div class="responsibilites">
            @Html.Raw(Model.jobVacancy.Responsibilities)
        </div>
        <h2 class="my-5">Requirements</h2>
        <div class="requritments">
            @Html.Raw(Model.jobVacancy.Requirements)
        </div>
        @*<h2 class="my-5">Desired Skills</h2>
        <div class="desired-skills">
            @Html.Raw(Model.jobVacancy.DesiredSkills)
        </div>*@
        <h2 class="my-5">Reasons to join us</h2>
        <div class="reason">
            @Html.Raw(Model.jobVacancy.ReasonToJoinUs)
        </div>
        @if (User.Identity.IsAuthenticated)
        {


            @if (Model.apliedVacancy != null)
            {
                @if (Model.apliedVacancy.VacancyId == Model.jobVacancy.Id)
                {
                    <a href="#" class="btn btn-light my-3 apply disabled" id="aply_button">Applied</a>
                }
                else
                {
                    <a href="/Vacancies/UserToVacancyConnection/@Model.jobVacancy.Id" class="btn btn-light my-3 apply" id="aply_button">Apply</a>
                }
            }
            else
            {
                <a href="/Vacancies/UserToVacancyConnection/@Model.jobVacancy.Id" class="btn btn-light my-3 apply" id="aply_button">Apply</a>
            }

        }

    </div>
</section>



