@model ProfilViewModel

    <section id="post_ad">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="add-card">
                        <form method="post">
                            <div class="row">
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput1" class="form-label">Job Title</label>
                                    <input type="text" class="form-control" name="JobTitle" id="exampleFormControlInput1" placeholder="Title">
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput2" class="form-label">Company Name</label>
                                    <input type="text" class="form-control" name="CompanyName" id="exampleFormControlInput2" placeholder="Company">
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput3" class="form-label">Due Time</label>
                                    <input type="text" class="form-control"name="DueTime"  id="exampleFormControlInput3" placeholder="Time">
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput4" class="form-label">Salary</label>
                                    <input type="text" class="form-control" name="Salary" id="exampleFormControlInput4" placeholder="Salary">
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput6" class="form-label">Work Time</label>
                                    <input type="text" class="form-control" name="WorkTime" id="exampleFormControlInput6" placeholder="Time">
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput7" class="form-label">Education</label>
                                    <input type="text" class="form-control" name="RequiredEducation" id="exampleFormControlInput7" placeholder="Education">
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput6" class="form-label">Age</label>
                                    <input type="text" class="form-control" name="RequiredAge" id="exampleFormControlInput6" placeholder="Age">
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput5" class="form-label">Employment Type</label>
                                    <select class="form-select job_type" aria-label="Default select example" name="JobTypeId">
                                        <option selected disabled>Select</option>
                                        @foreach (JobType item in Model.jobType)
                                        {
                                            <option name="@item.Id" value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput5" class="form-label">Category</label>
                                    <select class="form-select job_type" aria-label="Default select example" name="CategoryId">
                                        <option selected disabled>Select</option>
                                        @foreach (Category item in Model.category)
                                        {
                                         <option  value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-3 col-sm-6">
                                    <label for="exampleFormControlInput5" class="form-label">Level</label>
                                    <select class="form-select job_type" name="LevelId" aria-label="Default select example">
                                        <option selected disabled>Select</option>
                                        @foreach (Level item in Model.levels)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-3 ">
                                    <label for="txthtml3" class="form-label">Summary</label>
                                    <textarea class="form-control" name="Summary" id="txthtml3" rows="3"></textarea>
                                </div>
                                <div class="mb-3 ">
                                    <label for="txthtml" class="form-label">Requritments</label>
                                    <textarea class="form-control" id="txthtml" name="Requirements" rows="3"></textarea>
                                </div>
                                @*<div class="mb-3 ">
                                    <label for="txthtml1" class="form-label">Desired Skills</label>
                                    <textarea class="form-control" id="txthtml1" rows="3"></textarea>
                                </div>*@
                                <div class="mb-3 ">
                                    <label for="txthtml2" class="form-label">Reasons to join us</label>
                                    <textarea class="form-control" id="txthtml2" name="ReasonToJoinUs" rows="3"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-danger post_ad_button">Post ad</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="bold">My Ads</p>
                    @foreach (JobVacancy item in Model.jobVacancy)
                    {
                        <div class="my_post">
                            <p class="bold">@item.CompanyName</p>
                            <span>@item.Level.Name</span>
                            <p>@item.JobTitle</p>
                            <p>Last date of vacancy @item.DueTime</p>
                            <a class="btn btn-outline-info" href="/profil/delete/@item.Id">Remove</a>
                            <a class="btn btn-outline-info" href="/profil/editad/@item.Id">Edit</a>
                        </div>
                    }
                </div>
            </div>

        </div>
    </section>


    <script src="//cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
    <script>
          CKEDITOR.replace('txthtml')
          CKEDITOR.replace('txthtml2')
          CKEDITOR.replace('txthtml3')
    </script>
