@{ 
    Layout = null;
}

@model EditExperienceViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="~/assets/images/favicon1.webp" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/registeration.css">
    <title>Experience</title>
</head>
<body>
    <section id="register-title">
        <div class="row">
            <div class="col-xl-3 col-lg-4  col-md-6 col-sm-12 ">
                <partial name="_EditLinksPartialView" />
            </div>
            <div class="col-xl-9 col-lg-8 col-md-6 col-sm-12  pt-5 right">
                <h4 class="px-4">Experience</h4>
                <div class="personal-inf m-2 p-2 px-4  mt-lg-3">
                    <p class="exp_title">Do You Have Experience ?</p>
                    <div class="rado-button d-flex">
                        <div class="yes">
                            <input type="radio" class="yes_button" name="exp" id="">
                            <label>Yes</label>
                        </div>
                        <div class="no">
                            <input type="radio" class="no-button" name="exp" id="">
                            <label>No</label>
                        </div>
                    </div>
                    <div class="insert-icon">
                        <a class="insert_button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <i class="bi bi-plus"></i> Add
                        </a>
                    </div>
                    <div class="experience_wrapper">
                        @foreach (Experience item in Model.experience)
                        {
                            <div class="experience-card pb-2">
                                <p class="company_name">@item.CompanyName</p>
                                <p class="department">@item.Department </p>
                                <p class="profession_name">@item.StartToWork - @item.EndToWork</p>
                                <span class="icons">
                                    <i class="bi bi-pencil-fill edit_experience_item" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
                                    <i class="bi bi-trash-fill delete_experience_item"></i>
                                </span>
                                <input hidden value="@item.Responsibilities" />
                            </div>
                        }

                    </div>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">About Experience</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <form method="post">
                                    <div class="modal-body modal-dialog-scrollable">
                                        <div class="row">
                                            <div class="mb-3">
                                                <label for="exampleInputDepartment" class="form-label"> Company</label>
                                                <input type="text" class="form-control" name="CompanyName" placeholder="Note .." id="exampleInputCompany" value="">

                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputDepartment" class="form-label"> Department, position</label>
                                                <input type="text" class="form-control " name="Department" placeholder="Note .." id="exampleInputDepartment">
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword2" class="form-label">Responsibilities</label>
                                                <input type="text" class="form-control " name="Responsibilities" placeholder="Responsibilities" id="exampleInputResponse">
                                            </div>
                                            <div class="mb-3 col-6">
                                                <label for="exampleInputYear1" class="form-label">Start to Wok</label>
                                                <input type="number" class="form-control " name="StartToWork" placeholder="start year" id="exampleInputYear1">
                                            </div>
                                            <div class="mb-3 col-6">
                                                <label for="exampleInputYear2" class="form-label">End To Work</label>
                                                <input type="number" class="form-control" name="EndToWork" placeholder="end year" id="exampleInputYear2">
                                            </div>
                                            @*<div class="mb-3 form-check mx-1 work_check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label work_status" for="exampleCheck1">I am working now</label>
                                                </div>
                                                <div class="mb-3 reason_input">
                                                    <label for="exampleInputReason" class="form-label">Your reason for quitting?</label>
                                                    <input type="text" class="form-control reason" placeholder="reason" id="exampleInputReason">
                                                </div>*@
                                        </div>
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"> </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <div class="form-group form-button">
                                            <input type="submit" name="add" id="add add_experience_item" class="form-submit btn btn-primary " data-bs-dismiss="modal" value="Add" />
                                        </div>
                                        @*<button type="button" class="btn btn-primary add_experience_item">Add</button>*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="buttons">
                    <a href="/editprofil/education" class="btn btn-light"><i class="bi bi-arrow-left"></i>Back</a>
                    <a href="/editprofil/document" class="btn btn-light next">Next</a>
                    <a href="/Profil/InfoAppeal" class="btn btn-light next">Back to Home</a>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <script>
        $(".edit_experience_item").click(() => {
            //
        })

    </script>





    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>